doctype html
html(moznomarginboxes)
  head
    title Amine Ben hammou - CV
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/vendors.css", media="all")
    link(rel="stylesheet", href="css/style.css", media="all")
  body(data-ng-app="resume", ng-controller="ResumeController")
    .page

      h1.title.bottom-marged Ingénieur en génie logiciel et systèmes informatiques
      .clear

      .left-column(style="width:30%")
        p.bold {{ i.firstName }} {{ i.lastName }}
        p 
          span.fa.fa-map-marker 
          | {{ i.address }}
        p {{ i.country }}
        p
          span.fa.fa-phone 
          | {{ i.phone }}
        p 
          span.fa.fa-envelope 
          span.small {{ i.email }}
        p
          span.fa.fa-user
          | {{ i.age }} ans, {{ i.situation }}

        h1 Références / Classements
        .triangle
        .clear
        p(ng-repeat="e in i.rankings")
          span.block.width-60 {{ e.name }}
          span.block.width-40 {{ e.rank }}

        h1 Langages et technologies
        .triangle
        .clear
        ul
          li(ng-repeat="e in i.programmingLangs", ng-hide="e.hidden")
            span.block.width-50 {{ e.name }}
            span.block.width-50
              .progress-bar
                div(ng-class="'progress-' + e.level")
            ul
              li(ng-repeat="se in e.tools", ng-hide="se.hidden")
                span.block.width-50 {{ se.name }}
                span.block.width-50
                  .progress-bar
                    div(ng-class="'progress-' + se.level")

        h1 Langues
        .triangle
        .clear
        ul
          li(ng-repeat="e in i.langs", ng-hide="e.hidden")
            span.block.width-50 {{ e.name }}
            span.block.width-50
              .progress-bar
                div(ng-class="'progress-' + e.level")

      .right-column.no-top-margin.no-top-padding
        h1.no-top-margin Education
        .triangle
        .clear
        .list
          section.small-padding(ng-repeat="e in i.education")
            span.bold {{ e.periode }}: 
            span.title {{ e.name }}
            span.fa
            span.tag.pull-right {{ e.location }}
        
        h1.no-top-margin Expériences professionelles
        .triangle
        .clear
        .list.top-unmarged
          section.small-padding(ng-repeat="e in i.jobs", ng-hide="e.hidden")
            span.tag.pull-right {{ e.location }}
            span.bold {{ e.periode }}: {{ e.society }}
            br
            span.title {{ e.title }}
            br
            span.tag(ng-repeat="t in e.tools") {{ t }}            
        h1 Connaissances techniques
        .triangle
        .clear
        ul(style="margin-top: -0.3cm")
          li(ng-repeat="e in i.skills", ng-hide="e.hidden")
            span.title {{ e.description }}

        h1.no-top-margin Projects
        .triangle
        .clear
        .list.top-unmarged
          section.small-padding(ng-repeat="e in i.projects", ng-hide="e.hidden")
            span.bold {{ e.time }}: 
            span {{ e.description }}
        
        h1.no-top-margin Centre d'interêts
        .triangle
        .clear
        .list.top-unmarged
          section.small-padding
            span.title(ng-repeat="t in i.interests") 
              | {{ t }}
              br
        .clear

    script(src="js/vendors.js")
    script(src="js/main.js")
    
